{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block description %} {{ description }} {% endblock  %}

{% block body %}

    {% for item in trips %}
        {{ item.title }}
        {{ item.category.name }}
        <a href={{ path('app_trip', { 'ref': item.ref }) }}>Voir</a>
        <hr>
    {% endfor %}

{% endblock %}
